.active_walk {
  height: 70px;
  background-color: red;
  .header {
    background-color: green;
    height: 22px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }
  .info {
    background-color: aquamarine;
  }
}
